<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Event Listener Page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../libs/bootstrap/bootstrap.min.css">
    <link type="text/css" href="../libs/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet">
    <style>
        body {
            background-color: #4169e1;
            color: #ffffff;
            font-family: "corbel", "Candara";
        }

        h1 {
            padding: 15px;
        }

        #othre-domain-frame {
            width: 750px;
            height: 400px;
        }

        .main,
        .button-area {
            margin: 15px;
        }

        #content {
            height: 400px;
            padding: 15px;
        }

    </style>
    <script src="../libs/bootstrap/bootstrap.min.js"></script>
</head>

<body>
    <h1>Event Listener</h1>
    <div class="main">
        <div class="button-area">
            <button type="button" id="addHTML" class="btn btn-secondary">Add HTML</button>
            <button type="button" id="openDialog" class="btn btn-secondary">Open Dialog</button>
        </div>
    </div>
    <div id="content">
        <table class="table table-inverse" style="width:600px">
            <thead>
                <th>
                    No
                </th>
                <th>
                    item1
                </th>
                <th>
                    item2
                </th>
                <th>
                    item3
                </th>
            </thead>
            <tbody id="sampla-table-tbody">
                <tr id="default-tr">
                </tr>
            </tbody>
        </table>
    </div>
    <footer>
        <img src="./img/jquery-ninja-logo.png" width="200px" />
    </footer>
</body>
<script type="text/template" id="template-rowHTML">
    <tr>
        <td>
            <%- no %>
        </td>
        <td>
            <%- item1 %>
        </td>
        <td>
            <%- item2 %>
        </td>
        <td>
            <input type="button" value="search" id="<%- searchBtnId %>" data-index="<%- index %>" class="btn btn-info">
        </td>
    </tr>
</script>
<script type="text/template" id="template-ui-dialog">
    <div class="entry entry-content">
        <div class="img-click">
            <img src="./img/sunshineikezaki-480x360.png">
        </div>
    </div>
</script>
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/underscore/underscore-min.js"></script>
<script src="../libs/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="./js/loadTemplate.js"></script>
<script src="./js/config.js"></script>
<script src="./js/test.js"></script>

</html>
